@model Adomicilio.Models.EmpresaCatalog

@{
    ViewBag.Title = "Details";

  
}

<h2>Details</h2>
<div><div class="col-md-3"><br></div> <h3><strong>@ViewBag.Empresa</strong></h3>
    <div class="col-md-3"><br></div> <h3><strong>@Html.DisplayFor(model => model.RazonSocial)</strong></h3>
          <div class="row">
            <p>@ViewBag.Number</p>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active"  ><a  href="@Url.Action("Details", "Empresas",routeValues: new {  Id =  ViewBag.Number})">Detalles</a></li>
                <li role="presentation" class="" ><a    href="@Url.Action("Index","GruposMenus",routeValues: new { Id =  ViewBag.Number})">Categorias</a></li>
                <li role="presentation" class="" ><a   href="@Url.Action("Index", "Menus",routeValues: new { Idempresa =  ViewBag.Number})">Productos</a></li>
            </ul>
        </div>
       <div class="col-md-11">
             @Html.Partial("empresasDetail")
       </div>
</div >


