@using Adomicilio.Models
@model Adomicilio.Models.Empresa

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


 @using (Html.BeginForm("Edit", "Empresas", FormMethod.Post, new { enctype = "multipart/form-data" }))
  {
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Empresa</h4>
        <hr />
        <div class="row">
            <div class="col-md-8">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.IdEmpresa)
                @Html.HiddenFor(model => model.logo)
                @Html.HiddenFor(model => model.DateCreated)
                @Html.HiddenFor(model => model.DateEdited, Model.DateEdited = DateTime.Now)
                @Html.HiddenFor(model => model.imagenurl)
                @Html.HiddenFor(model => model.tipodelivery,Model.tipodelivery=0)
                @Html.HiddenFor(model => model.User)
                @Html.HiddenFor(model => model.claveuser)
                @Html.HiddenFor(model => model.Valoracion)
                @Html.HiddenFor(model => model.like)
                @Html.HiddenFor(model => model.Activa)
        
                <div class="form-group">
                    @Html.LabelFor(model => model.RazonSocial, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.RazonSocial, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RazonSocial, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RIF, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.RIF, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.RIF, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Telefonos, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Telefonos, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Telefonos, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Slogan, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Slogan, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Slogan, "", new { @class = "text-danger" })
                    </div>
                </div>

             
                <div class="form-group">
                    <label class="control-label  col-md-2">Categoria</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.CategoriaLocal, ListHelper.SelectListItemHelper.GetCategoriasempresa(), new
                        {
                        @class = "form-control required"
                        })
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label  col-md-2">Especialidad</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.TipodeComida, ListHelper.SelectListItemHelper.Getespecialidades(), new
                        {
                         @class = "form-control required"
                         })
                    </div>
                </div>

               

                <div class="form-group">
                    @Html.LabelFor(model => model.Direccion, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.TextAreaFor(model => model.Direccion, 2, 200, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Direccion, "", new { @class = "text-danger" })
                    </div>
                </div>
               

                <div class="form-group">
                    <label class="control-label  col-md-2">Estado</label>
                    <div class="col-md-8">
                        @Html.DropDownListFor(m => m.idEstado, ListHelper.SelectListItemHelper.GetEstadosList(1), new
                   { @class = "form-control required", @onchange = "FillCity()",@select = "FillCity()"})
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label  col-md-2">Ciudad</label>
                    <div class="col-md-8">
                     @Html.DropDownListFor(m => m.idCiudad, ListHelper.SelectListItemHelper.GetCiudadesList(@Model.idEstado), new
                     {@class = "form-control required"})
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.horario1, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.horario1, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.horario1, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Delivery, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Delivery, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Delivery, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Contacto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        @Html.EditorFor(model => model.Contacto, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Contacto, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.Activa, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-8">
                        <div class="checkbox">
                            @Html.EditorFor(model => model.Activa)
                            @Html.ValidationMessageFor(model => model.Activa, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <img src="@ViewBag.foto" /><br>

                <div class="form-group">
                    @Html.LabelFor(model => model.logo, htmlAttributes: new { @class = "control-label col-md-5" })
                    <div class="col-md-6">
                        <input type="file" name="file1" value="" />
                    </div>
                </div>
                
            </div>
        </div><br>
  </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-8">
                        <input type="submit" value="Save" class="btn btn-default" />
                    </div>
                </div>


}

            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

    <script>
        function FillCity() {
            var stateId = document.getElementById("idEstado").value;
          
            $.ajax({
                url: '/Account/FillCity',
                type: "GET",
                dataType: "JSON",
                data: { id: stateId },
                success: function (cities) {
                    $("#idCiudad").html(""); // clear before appending new list
                    $("#idCiudad").append($('<option>-------Seleccione-------</option>').val(""));
                 
                    $.each(cities, function (i, city) {
                        $("#idCiudad").append($('<option>' + city.ciudad + '</option>').val(city.CiudadId));
                     
                    });
                
                    
                },

            });

        }
    </script>
}