<!--model IEnumerable<Adomicilio.Models.Empresa > -->

@model PagedList.IPagedList<Adomicilio.Models.EmpresaCatalog>
@using PagedList.Mvc;
<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<div class="row col-md-12" id="adminwrap" name="adminwrap">
    <ol class="breadcrumb">
        <li><a href="/Admin">Admin</a></li>
        <li><a href="#" class="active">Empresas</a></li>
    </ol>
    @Html.AntiForgeryToken()
    @using (Html.BeginForm("Index", "Empresas", FormMethod.Get))
    {

        <div class="row col-md-12">
            <div class="row col-md-7">

            </div>
            <div class="row col-md-5 col-sm-12">
                @Html.TextBox("SearchString", ViewBag.CurrentFilter as string, htmlAttributes: new { @class = "form-control col-md-5" })
                <input type="submit" value="Buscar" class="btn  " />
            </div>
        </div>
        <div class="row  col-md-3">
            <p>
                <button class="btn btn-info" type="button">
                    @Html.ActionLink("Nueva Empresa", "Create")
                </button>


            </p>
        </div>
    }
    <br />
    <br />
    <div class="row col-md-12">
        <div class="row col-md-12">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Single().RazonSocial)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Single().RIF)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Single().Telefonos)
                    </th>

                    <th>
                        <div class="visible-md visible-lg">
                            @Html.DisplayNameFor(model => model.Single().CategoriaLocal)
                        </div>
                    </th>


                    <th>
                        <div class="visible-md visible-lg">
                            @Html.DisplayNameFor(model => model.Single().Contacto)
                        </div>
                    </th>
                    <th>
                        <div class="visible-md visible-lg">
                            @Html.DisplayNameFor(model => model.Single().Activa)
                        </div>
                    </th>

                    <th>
                        <div class="visible-md visible-lg">
                            @Html.DisplayNameFor(model => model.Single().DateCreated)
                        </div>
                    </th>
                    <th>
                        <div class="visible-md visible-lg">
                            @Html.DisplayNameFor(model => model.Single().DateEdited)
                        </div>
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
            {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.RazonSocial)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.RIF)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefonos)
                        </td>

                        <td>
                            <div class="visible-md visible-lg">
                                @Html.DisplayFor(modelItem => item.tipodecomidastr)
                            </div>
                        </td>

                        <td>
                            <div class="visible-md visible-lg">
                                @Html.DisplayFor(modelItem => item.Contacto)
                            </div>
                        </td>

                        <td>
                            <div class="visible-md visible-lg">
                                @Html.DisplayFor(modelItem => item.Activa)
                            </div>
                        </td>
                        <td>
                            <div class="visible-md visible-lg">
                                @Html.DisplayFor(modelItem => item.DateCreated)
                            </div>
                        </td>
                        <td>
                            <div class="visible-md visible-lg">
                                @Html.DisplayFor(modelItem => item.DateEdited)
                            </div>
                        </td>
                        <td>
                            @Html.ActionLink("Edita", "Edit", new { id = item.IdEmpresa }) |
                            @Html.ActionLink("Detalles", "Details", new { id = item.IdEmpresa })

                        </td>
                    </tr>
                }

            </table>
        </div>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
    </div>

</div>

 