@model Adomicilio.Models.CarritodeCompras

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CarritodeCompras</h4>
    <hr />
    <dl class="dl-horizontal">
   

        <dt>
            @Html.DisplayNameFor(model => model.sessionid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sessionid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cant)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cant)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Precio)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Precio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mensaje)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mensaje)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ingredientes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ingredientes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Extra)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Extra)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
