@model Adomicilio.Models.MenuIngredients

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>MenuIngredients</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdProducto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdProducto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Requerido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Requerido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdIngrediente }) |
    @Html.ActionLink("Back to List", "Index")
</p>
