@model Adomicilio.Models.Direccion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Direccion</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.IdDireccion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdDireccion)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IdUser)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Calle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Calle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CasaNro)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CasaNro)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Urbanizacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Urbanizacion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.referencia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.referencia)
        </dd>

        

     


    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdDireccion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
