@model IEnumerable<Adomicilio.Models.Direccion>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.IdUser)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Calle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CasaNro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Urbanizacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.referencia)
        </th>
        
       
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.IdUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Calle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CasaNro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Urbanizacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.referencia)
        </td>
    
      
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdDireccion }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdDireccion }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdDireccion })
        </td>
    </tr>
}

</table>
