@using Adomicilio.Models
@using Microsoft.AspNet.Identity;
@model Adomicilio.Models.IndexViewModel
@using PagedList.Mvc;
@{  var sessionidstr = HttpContext.Current.Session.SessionID;
    var varuserid = ViewBag.userid;
    bool val1 = (System.Web.HttpContext.Current.User != null) && System.Web.HttpContext.Current.User.Identity.IsAuthenticated;
    if (varuserid == null)
    { varuserid = "0"; }
    var auxrestaurantes = Model.restaurante;
    var contactomodel = Model.contact;
 
    ViewBag.msj = "*";
    Session["DataInserted"] = "";
    
}


@Html.AntiForgeryToken()
<div class="span12">
    <div class="carousel slide row-fluidbs-slider" id="myCarousel" data-ride="carousel">
    <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
</ol>
        <div class="carousel-inner ">
        
            <div class="item active" data-slide-to="0">
                <div class="bannerImage">
                  
                        <a href="#"><img src="~/images/image1.png" alt=""></a><div class="carousel-caption">
                                                                                
    <h3 data-animation="animated bounceInLeft" style="font-size:70px;">
       Tienes Hambre
    </h3>
    <h3 data-animation="animated bounceInUp">
             ¿No quieres moverte?
    </h3>
 
</div>
                    </div>
              
                   
              
                </div><!-- /Slide1 -->
            <div class="item" data-slide-to="1">
                <div class="bannerImage">
                    <a href="#"><img src="~/images/image2.png" alt=""></a>
                    <div class="carousel-caption">
                        <h3 class="icon-container" data-animation="animated bounceInDown fadeout">
                            <span class="glyphicon glyphicon-heart"></span>
                        </h3>
                        <h3 data-animation="animated bounceInUp">
                            Dexpress.com
                          Lo Llevamos donde estés.
                        </h3>
                       
                    </div>
                </div>
            </div><!-- /Slide2 -->
            <div class="item" data-slide-to="2">
                <div class="bannerImage">
                    <a href="#"><img src="~/images/image4.png" alt=""></a>
                    <div class="carousel-caption">

                        <h3 class="icon-container" data-animation="animated zoomInLeft">
                            <span class="glyphicon glyphicon-glass"></span>
                        </h3>

                        <h3 data-animation="animated flipInX">
                        
                                <p>Comidas, bebidas, Fiesta Packs lo que desees.</p>
                                <p>En tiempo Record y al mismo precio.</p>
                        
                        </h3>

                        <h3 class="carousel-caption button hidden-xs hidden-sm" data-animation="animated  bounceInUp bounceInDown">
                            <img src="~/Images/hombre2.png" />
                        </h3>
                      
                    </div>
                </div>
            </div><!-- /Slide2 -->
        </div>
        <div class="control-box">
            <a data-slide="prev" href="#myCarousel" class="carousel-control left btn-circle">‹</a>
            <a data-slide="next" href="#myCarousel" class="carousel-control right btn-circle">›</a>
        </div><!-- /.control-box -->
    </div><!-- /#myCarousel -->
    <div class="row"><center>
                       

    <form class="navbar-form navbar especial" role="search" name="forma" id="forma">

        @Html.HiddenFor(m => m.menuopcion)
        <div class="form-group">
            <div class="col-2">
                <label class="glyphicon glyphicon-record"></label>
                @Html.DropDownListFor(m => m.ciudad, ListHelper.SelectListItemHelper.GetCiudadesList(24), new
               {
                   @class = "form-control required place-holder",
                   @onchange = "savelocation()",
                   @Model.ciudad

               })
            </div>
        </div>
        <div class="form-group ">
            <div class="col-2">
                <label>Buscar @val1</label>
                <input type="text" class="form-control" placeholder="Search" value="@Model.Searchstr">
            </div>
        </div>
        <button type="submit" class="btn btn-default" onclick="savelocal()">Submit</button>
    </form>
</center>
    </div>

</div>


<div id="toprow" name="toprow" class="row" >
    <div class="col-md-2 col-lg-2">
        <a href="#"> Inicio </a>  
    </div>
    
    <div class="col-md-8 col-lg-8">
        <div class="col-md-3 col-lg-3">
          &nbsp
        </div>
        <div class="col-md-6 col-lg-6">
            
            <span class="glyphicon glyphicon-align-justify" aria-hidden="true"></span>   Página @(Model.restaurante.PageCount < Model.restaurante.PageNumber ? 0 : Model.restaurante.PageNumber)
            de @Model.restaurante.PageCount&nbsp&nbsp&nbsp<span class="glyphicon glyphicon-th" aria-hidden="true"></span>  8 Restaurantes 
        </div>
        <div class="col-md-3 col-lg-3">
            &nbsp
        </div>
        </div>
    <div class="col-md-2 col-lg-2">
         &nbsp
    </div>
</div>

    <div id="Izquierda" name="Izquierda" class="hidden-xs">
        <div class="catmenu">
                 <div class="col-sm-12 col-xs-12 col-md-2 col-lg-2">
                <div id="categoriastitle" name="categoriastitle">Categorias</div>
                <ul class="list-group">

                    <li class="list-group-item"><a href="javascript:choose(0);">Todos</a></li>
                    @foreach (var item in Model.ListaEspecialidades)
                    {
                        <li class="list-group-item"><a href="javascript:choose(@item.IdEspecialidad);">@item.EspecialidadDesc</a></li>
                    }
                </ul><div id="categoriasclose" name="categoriasclose"></div>
            </div>

        </div>
    </div>
    <div id="Centro" name="Centro" class="col-md-8">
        <div id="Details">
            @if (Model.restaurante.Count > 0)
            {
                @Html.Partial("StoresView")

            }
            else
            {   <div class="row">
                <div class="col-md-10 col-lg-10">
                    <p>No hay ningun registro que cumpla con esas especificaciones</p>
                    <a href="" data-toggle="modal" data-target="#squarespaceModal" style="border:1px none"><img src="~/Images/carnes.png" /></a>

                </div>
            </div>
            }
        </div>
        </div>


    <div class="row">
        <div id="Derecha" name="Derecha" class="col-xs-12 col-sm-12 col-md-2 col-lg-2">
            <div class="CarritoAd bounce" onclick="iracarrito()">
                <center>Carrito de compra</center>
                <center>
                    <span class="" id="carrito-articulos" name="carrito-articulos"></span>
                </center>
                <center><span class="" id="carrito-monto" name="carrito-monto"></span></center>
            </div>
        </div>
    </div>
<div class="row">
    <div class="col-md-12">
        <div class="row">
            <div id='Paging' style="text-align: center">
                @Html.PagedListPager(Model.restaurante, page => Url.Action("Index", new { page }))
            </div>
        </div>
    </div>
</div>
<div class="containercomo">
    <div class="row">
        <div id="titulocomousar" name="titulocomousar">Ordene en Línea su comida en solo tres pasos.</div>
        <div id="comousar" name="comousar" class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
            <center>   <img src="~/images/step-1.png" class="img-circle img-responsive"></center>

        </div>
        <div id="comousar" name="comousar" class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
            <center>   <img src="~/images/step-2.png" class="img-circle img-responsive"></center>


</div>
        <div id="comousar" name="comousar" class="col-md-4 col-sm-4 col-lg-4 col-xs-4">
            <center>   <img src="~/images/step-3.png" class="img-circle img-responsive"></center>


</div>
    </div>
    <div class="row">

        <div id="comousar" name="comousar" class="col-md-4 col-sm-4 col-lg-4 col-xs-4">

            <center>
                <h7>Seleccione su Restaurant y Menú.</h7>
            </center>
                <h5 class="media-object hidden-xs">Seleccione el restaurant y algunos de los platos que se encuentran en el menu segun su elección.</h5>
</div>
        <div id="comousar" name="comousar" class="col-md-4 col-sm-4 col-lg-4 col-xs-4">


            <center>
                <h7>Seleccione su Restaurant y Menú.</h7>
            </center>
                <h5 class="media-object hidden-xs">Ordene en Línea su comida y haga su pago en el momento pagando con su tarjeta de credito o puede hacerlo con efectivo en puerta.</h5>
</div>
        <div id="comousar" name="comousar" class="col-md-4 col-sm-4 col-lg-4 col-xs-4">


            <center>
                <h7>Relájese su pedido ya esta en camino.</h7>
            </center>
                <h5 class="media-object hidden-xs">Seleccione su Restaurant y Menú. Ordene en Línea su comida y haga su pago.</h5>

</div>
    </div>
</div>
    <!-- <div class="center"><button data-toggle="modal" data-target="#squarespaceModal" class="btn btn-primary center-block">Click Me</button></div><!-- -->
    <!-- line modal -->
    <script src="@Url.Content("~/Scripts/jquery.unobtrusive-ajax.js")" type="text/javascript"></script>

    @using (Ajax.BeginForm("Contacto", "Home", null, new AjaxOptions() { HttpMethod = "POST", UpdateTargetId = "formcontact" }))
    {

        <div class="modal fade" id="squarespaceModal" name="squarespaceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                        <h3 class="modal-title" id="lineModalLabel">Contacto</h3>
                    </div>
                    <div class="modal-body" id="formcontact">
                        @Html.Partial("Contacto", new Contacto())
                    </div>

                    <div class="modal-footer">
                        <div class="btn-group btn-group-justified" role="group" aria-label="group button">
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-default" data-dismiss="modal" role="button">Cerrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    }

    <script src="~/Scripts/Votos.js"></script>
    <script src="~/Scripts/cart.js"></script>

    @Scripts.Render("~/bundles/jquery")
    @section Scripts {
        <script>
            <!--

            updatecart('@sessionidstr', '@varuserid', 'carrito-articulos', 'carrito-monto', '');

              $("#squarespaceModal").on("hidden.bs.modal",function(e){location.reload(); }); window.status = "";
              var vciudad = 0;

              function iracarrito()
              {                var sesss = '@sessionidstr';var us = '@varuserid';
                               window.location.href = '/CarritodeCompras/Vercarrito/?sessionid='+sesss+"&xuserid="+us;
              }


              var savedcity = localStorage.getItem("ciudad");
           
                  if (savedcity != null && savedcity != document.getElementById("ciudad").value) {
                      document.getElementById("ciudad").value = savedcity;
                      vciudad = savedcity;
                      document.forma.submit();

                  }

              function savelocation() {
                  var cityId = document.getElementById("ciudad").value;
                  localStorage.setItem("ciudad", cityId);

                  window.location.href = '//Index/?menuopcion=0&ciudad=' + cityId;
              }

             function choose(number) {
                            var cityId = document.getElementById("ciudad").value;
                            document.getElementById("menuopcion").value = number;
                            document.forma.submit();
             }





                  // Carousel Auto-Cycle
                  $(document).ready(function () {
                      leelocal();
                      $('.carousel').carousel({
                          interval: 100000
                      })
                  });


                  /* Demo Scripts for Bootstrap Carousel and Animate.css article
                  * on SitePoint by Maria Antonietta Perna
                  */
                  (function ($) {

                      //Function to animate slider captions
                      function doAnimations(elems) {
                          //Cache the animationend event in a variable
                          var animEndEv = 'webkitAnimationEnd animationend';

                          elems.each(function () {
                              var $this = $(this),
                                  $animationType = $this.data('animation');
                              $this.addClass($animationType).one(animEndEv, function () {
                                  $this.removeClass($animationType);
                              });
                          });
                      }

                      //Variables on page load
                      var $myCarousel = $('#myCarousel'),
                          $firstAnimatingElems = $myCarousel.find('.item:first').find("[data-animation ^= 'animated']");

                      //Initialize carousel
                      $myCarousel.carousel();

                      //Animate captions in first slide on page load
                      doAnimations($firstAnimatingElems);

                      //Pause carousel
                      $myCarousel.carousel('pause');


                      //Other slides to be animated on carousel slide event
                      $myCarousel.on('slide.bs.carousel', function (e) {
                          var $animatingElems = $(e.relatedTarget).find("[data-animation ^= 'animated']");
                          doAnimations($animatingElems);
                      });

                  })(jQuery);

        </script>

    }






