@model Adomicilio.Models.Contacto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Contacto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipodeContacto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipodeContacto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateCreated)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateRespondido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateRespondido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DateLeido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DateLeido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.respondido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.respondido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.leido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.leido)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdContact }) |
    @Html.ActionLink("Back to List", "Index")
</p>
